![imagen](img/sort-by-color.jpg)

# **Análisis del mercado literario**

### **Tema**
En los últimos años, debido a los avances tecnológicos, el mercado literario está experimentando un cambio en su modelo de negocio. En los últimos años han aparecido 

nuevos formatos que están cambiando la forma de consumo de libros. 
Con este EDA se pretende analizar cómo está evolucionando la industria editorial y sus principales características.

Para ello, se han planteado las siguientes hipótesis:
##### Hipótesis principal
* El número de publicaciones anuales ha aumentado

##### Otras hipótesis
* La autopublicación de libros ha aumentado
* Existe una relación entre el número de libros publicados por género y el número de libros leidos
* El formato de publicación del libro no afecta a su posición en el ranking de top leídos/escuchados
* No existe diferencia de géneros publicados por nacionalidad del autor
* Los libros más vendidos son los que más merchandising tienen.
* Existe una relación entre las ventas de libros y su publiación como series/películas

### **Obtención de los datos**

### Datasets y fuentes alternativas de datos

In [15]:
import pandas as pd
# guarda en variables los datasets y su fuente
df_1_kindle = pd.DataFrame(pd.read_csv("../data/kindle_data-v2.csv"))
fuente_1 = "https://www.kaggle.com/datasets/asaniczka/amazon-kindle-books-dataset-2023-130k-books"
df_2_best_selling = pd.DataFrame(pd.read_csv("../data/best-selling-books.csv"))
fuente_2 = "https://www.kaggle.com/datasets/drahulsingh/best-selling-books"
df_3_books_dataset = pd.DataFrame(pd.read_csv("../data/BooksDatasetClean.csv"))
fuente_3 = "https://www.kaggle.com/datasets/elvinrustam/books-dataset"
df_4_audible = pd.DataFrame(pd.read_csv("../data/Audible_Top_100_Final.csv", encoding='windows-1252'))
fuente_4 = "httpswww.kaggle.comdatasetsntsmithaudible-top-100-best-selling-all-categories"
df_5_abs_sec_esp = pd.DataFrame(pd.read_csv("../data/abs_sect_editorial_esp.csv"))
fuente_5 = "https://www.federacioneditores.org/datos-estadisticos-2020.php"
df_6_dist_cifneg_gen = pd.DataFrame(pd.read_csv("../data/dist_cif_neg_genero_sect_editorial_esp.csv"))
fuente_6 = "https://www.federacioneditores.org/datos-estadisticos-2020.php"

fuente_8 = "https://www.kaggle.com/datasets/abdulszz/netflix-data"
df_7_imdb = pd.DataFrame(pd.read_csv("../data/IMDB.csv"))

##### Vista previa de los datasets

In [3]:
df_1_kindle.head(5)

,asin,title,author,soldBy,imgUrl,productURL,stars,reviews,price,isKindleUnlimited,category_id,isBestSeller,isEditorsPick,isGoodReadsChoice,publishedDate,category_name
0,B00TZE87S4,Adult Children of Emotionally Immature Parents...,Lindsay C. Gibson,Amazon.com Services LLC,https://m.media-amazon.com/images/I/713KZTsaYp...,https://www.amazon.com/dp/B00TZE87S4,4.8,0,9.99,False,6,True,False,False,2015-06-01,Parenting & Relationships
1,B08WCKY8MB,"From Strength to Strength: Finding Success, Ha...",Arthur C. Brooks,Penguin Group (USA) LLC,https://m.media-amazon.com/images/I/A1LZcJFs9E...,https://www.amazon.com/dp/B08WCKY8MB,4.4,0,16.99,False,6,False,False,False,2022-02-15,Parenting & Relationships
2,B09KPS84CJ,Good Inside: A Guide to Becoming the Parent Yo...,Becky Kennedy,HarperCollins Publishers,https://m.media-amazon.com/images/I/71RIWM0sv6...,https://www.amazon.com/dp/B09KPS84CJ,4.8,0,16.99,False,6,False,True,False,2022-09-13,Parenting & Relationships
3,B07S7QPG6J,Everything I Know About Love: A Memoir,Dolly Alderton,HarperCollins Publishers,https://m.media-amazon.com/images/I/71QdQpTiKZ...,https://www.amazon.com/dp/B07S7QPG6J,4.2,0,9.95,True,6,False,True,False,2020-02-25,Parenting & Relationships
4,B00N6PEQV0,The Seven Principles for Making Marriage Work:...,John Gottman,Random House LLC,https://m.media-amazon.com/images/I/813o4WOs+w...,https://www.amazon.com/dp/B00N6PEQV0,4.7,0,13.99,False,6,False,False,False,2015-05-05,Parenting & Relationships

In [4]:
df_2_best_selling.head(5)

,Book,Author(s),Original language,First published,Approximate sales in millions,Genre
0,A Tale of Two Cities,Charles Dickens,English,1859,200.0,Historical fiction
1,The Little Prince (Le Petit Prince),Antoine de Saint-Exupéry,French,1943,200.0,Novella
2,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120.0,Fantasy
3,And Then There Were None,Agatha Christie,English,1939,100.0,Mystery
4,Dream of the Red Chamber (紅樓夢),Cao Xueqin,Chinese,1791,100.0,Family saga

In [5]:
df_3_books_dataset.head(5)

,Title,Authors,Description,Category,Publisher,Price Starting With ($),Publish Date (Month),Publish Date (Year)
0,Goat Brothers,"By Colton, Larry",NaN,"History , General",Doubleday,8.79,January,1993
1,The Missing Person,"By Grumbach, Doris",NaN,"Fiction , General",Putnam Pub Group,4.99,March,1981
2,Don't Eat Your Heart Out Cookbook,"By Piscatella, Joseph C.",NaN,"Cooking , Reference",Workman Pub Co,4.99,September,1983
3,When Your Corporate Umbrella Begins to Leak: A...,"By Davis, Paul D.",NaN,NaN,Natl Pr Books,4.99,April,1991
4,Amy Spangler's Breastfeeding : A Parent's Guide,"By Spangler, Amy",NaN,NaN,Amy Spangler,5.32,February,1997

In [13]:
df_4_audible.head(5)

,Title,Categories,Author,Narrated By,Series,Length (Hours),Length (Minutes),ReleaseDate,Price,Ratings,...,3 Review Header,3 Review Body,3 Review helpful count,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43
0,Learn Arabic Ultimate Bundle,Travel & Tourism,Global Citizen Language Learning,Mehdi Ben Mahmoud,NaN,13,28.0,12/4/2023,24.95,34,...,Unlock Arabic Fluency,This meticulously crafted audiobook collection...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,The Impossible First,Travel & Tourism,Colin O'Brady,Colin O'Brady,NaN,8,38.0,1/14/2020,18.74,1156,...,Inspiring,I can get bored with books. This one held my a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Buying Disney's World,Travel & Tourism,Aaron Goldberg,Susan L. Crawford,NaN,4,39.0,4/20/2021,14.95,151,...,For Disney fans,The story is very thorough and interesting. Th...,1 person found this helpful,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Learn Spanish in Your Car,Travel & Tourism,Glenda Greco,Shea Jean,NaN,10,10.0,5/26/2022,24.95,72,...,I am not enjoyed this listen.,I would not highly recommended to listen this ...,8 people found this helpful,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,For the Love of Europe,Travel & Tourism,Rick Steves,Rick Steves,NaN,10,38.0,8/11/2020,21.83,443,...,My most enjoyable travels experience in 2 years,This was almost as good as being able to trave...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_5_abs_sec_esp.head(5)

,Unnamed: 0,datos_estadisticos,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,0,Ejemplares editados (miles),367.460,329.830,302.631,286.462,280.251,246.345,226.590,225.277,224.054,240.220,214.316,229.515,181.292,198.132,206.229
1,1,Ejemplares vendidos (miles),240.660,236.197,228.230,199.814,170.237,153.830,153.620,155.440,157.233,158.250,160.852,162.220,164.450,174.100,178.450
2,2,En digital,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"126,19","134,79","139,30"
3,3,En papel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2.304,94","2.432,41","2.579,22"
4,4,ISBNs comprados,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115.815,127.821,128.787

In [8]:
df_6_dist_cifneg_gen.head(5)

,Unnamed: 0,distribucion_cifra_negocio_por_genero,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,0,Ciencias Sociales y Humanidades,"11,9%","11,0%","11,5%","11,4%","10,9%","10,6%","10,8%","10,5%","11,2%","11,5%","11,7%","11,5%","11,2%","11,2%","11,1%"
1,1,Científico/técnico,"5,0%","5,0%","5,3%","4,8%","3,7%","3,2%","3,7%","4,2%","4,4%","4,6%","4,7%","4,6%","4,4%","4,8%","4,6%"
2,2,Comics,"2,7%","2,6%","2,9%","3,4%","2,2%","2,5%","2,7%","2,7%","2,6%","2,7%","2,7%","2,6%","2,6%","2,6%","2,5%"
3,3,Diccionarios/enciclopedias,"4,6%","3,7%","3,0%","2,3%","1,8%","2,1%","1,9%","1,8%","1,8%","1,7%","1,7%","1,7%","1,6%","1,5%","1,4%"
4,4,Divulgación general,"8,2%","8,8%","8,3%","7,7%","6,6%","6,8%","6,2%",6%,"5,8%","5,8%","6,0%","5,9%","6,4%","6,15%","6,8%"

In [17]:
df_7_imdb.head()

,Unnamed: 0,index,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,...,averageRating,numVotes,ordering,title,region,language,types,attributes,isOriginalTitle,Description
0,0,0,tt0102926,movie,The Silence of the Lambs,The Silence of the Lambs,0,1991,\N,118,...,8.6,1473918,50,The Silence of the Lambs,US,en,\N,\N,0,"Jodie Foster stars as Clarice Starling, a top ..."
1,1,1,tt0103064,movie,Terminator 2: Judgment Day,Terminator 2: Judgment Day,0,1991,\N,137,...,8.6,1128166,17,Terminator 2: Judgment Day,US,en,dvd,\N,0,"In this sequel set eleven years after ""The Ter..."
2,2,3,tt0110357,movie,The Lion King,The Lion King,0,1994,\N,88,...,8.5,1090882,18,The Lion King 3D,US,en,\N,3-D version,0,This Disney animated feature follows the adven...
3,3,4,tt0110912,movie,Pulp Fiction,Pulp Fiction,0,1994,\N,154,...,8.9,2118762,22,Pulp Fiction,US,en,\N,\N,0,Vincent Vega (John Travolta) and Jules Winnfie...
4,4,5,tt0111161,movie,The Shawshank Redemption,The Shawshank Redemption,0,1994,\N,142,...,9.3,2759621,2,The Shawshank Redemption,US,en,\N,\N,0,Andy Dufresne (Tim Robbins) is sentenced to tw...